@charset "utf-8";

/* form */
.input-checkbox {position:relative; display:inline-block;}
.input-checkbox input[type=checkbox] {position:absolute; top:0; left:0; opacity:0; width:0; height:0;}
.input-checkbox label {display:inline-block; height:21px; line-height:21px; padding-left:32px; color:#333; font-family:'notokr-medium'; font-size:12px; background:url("../images/common/form_checkbox01.png") no-repeat 0 0; background-size:21px 42px;}
.input-checkbox input[type=checkbox]:checked + label {background-position:0 -21px;}

/* title-box */
.title-box01 {position:relative; margin-bottom:8px;}
.title-box01 h3,
.title-box01 h4 {color:#212023; font-family:'notokr-bold'; font-size:18px; line-height:24px;}
.title-box01 h4 {font-size:15px;}
.title-box01 .point01 {position:absolute; top:3px; right:0; font-family:'3MCircular-bold'; line-height:20px;}
.title-box01 .point01 > * {display:inline-block; vertical-align:middle;}
.title-box01 .point01 strong {color:#ff0000; font-size:21px;}
.title-box01 .point01 span {width:15px; height:12px; line-height:12px; padding-top:3px; margin-top:-3px; color:#fff; font-size:12px; background:#ff0000; border-radius:50%; text-align:center;}
.title-box01 .point01 a {width:14px; height:10px; margin:-2px 0 0 2px; text-align:center;}
.title-box01 .point01 a img {width:5px;}
.title-box01 .select {position:absolute; top:0; right:0;}
.title-box01 .select > select {height:23px; border-color:#000; background-color:#fff;}
.title-box01.type02 h4,
.title-box01.type02 p {display:inline-block; vertical-align:middle;}
.title-box01.type02 p {position:relative; display:inline-block; margin-left:6px; padding-left:10px; color:#272727; font-size:12px; line-height:17px;}
.title-box01.type02 p:after {content:''; position:absolute; top:50%; left:0; display:block; width:1px; height:15px; margin-top:-8px; background:#e5e8ec;}
.title-box01 h4 .txt01 {display:block; line-height:15px; font-size:12px; color:#f00; font-weight:300;}

.title-box02 {position:relative; height:48px; margin:-20px -15px 25px -15px; background:#fff;}
.title-box02 h3 {font-size:0; line-height:0;}
.title-box02 h3 a,
.title-box02 h3 span {position:relative; display:inline-block; height:48px; line-height:48px; padding:0 10px 0 32px; color:#212023; font-family:'notokr-bold'; font-size:14px;}
.title-box02 h3 span {padding-left:15px;}
.title-box02 h3 a:before {content:''; display:block; position:absolute; top:18px; left:15px; width:8px; height:14px; background:url("../images/icon/ico_arrow03.png") no-repeat 0 0; background-size:100% 100%;}
.title-box02 h3 a.link-to{padding: 0;}
.title-box02 h3 a.link-to:before{ background: none;top:17px;left:0;height:15px;border-left:1px solid #000000;}
.title-box02 h3 a.link-to span{padding-left: 11px; color: #b6b6b6;}
.title-box02 .tab01 {width:80.3125%; margin:-38px auto 0; overflow:hidden;}
.title-box02 .tab01 li {float:left; width:35%;}
.title-box02 .tab01 li a {display:block; height:26px; line-height:26px; color:#212023; font-family:'notokr-medium'; font-size:10px; border:1px solid #e5e8ec; border-right:none; background:#fff; text-align:center;}
.title-box02 .tab01 li a.active {color:#fff; background:#212023;}
.title-box02 .tab01 li + li + li {width:30%;}
.title-box02 .tab01 li + li + li a {border-right:1px solid #e5e8ec;}
.title-box02 .select {position:absolute; top:8px; right:15px;}
.title-box02 .select > select {height:32px; line-height:32px; border-color:#e5e8ec; background-color:#fff;}
.title-box02 .btn01 {position:absolute; top:8px; right:15px;}
.title-box02 .btn01 > a {display:block; width:122px; height:32px; line-height:32px; padding:0 0 0 8px; color:#212023; font-family:'notokr-medium'; font-size:12px; border:1px solid #e5e8ec;}
.title-box02 .btn01 > a:after {content:''; display:block; position:absolute; top:12px; right:9px; width:5px; height:9px; background:url("../images/icon/ico_arrow05.png") no-repeat 0 0; background-size:100% 100%;}
.title-box02 .btn02 {position:absolute; top:8px; right:15px;}
.title-box02 .btn02 > a {display:inline-block; width:75px; height:32px; line-height:32px; color:#212023; font-family:'notokr-medium'; font-size:12px; border:1px solid #e5e8ec; text-align:center;}

.title-box03 {position:relative; margin:-20px -15px 0 -15px; border-bottom:1px solid #e5e8ec; background:#fff;}
.title-box03 h3 {min-height:40px; padding:15px 35px 10px; color:#555; text-align:center;}
.title-box03 h3 strong {display:block; font-family:'3MCircular-bold'; font-size:18px; line-height:22px;}
.title-box03 h3 span {display:block; margin-top:3px; font-family:'3MCircular-book'; font-size:14px; line-height:18px;}
.title-box03 .back {display:block; position:absolute; top:10px; left:0; padding:15px 15px 15px 15px;}
.title-box03 .back > span {display:block; width:11px; height:19px; background:url("../images/icon/ico_arrow03.png") no-repeat 0 0; background-size:100% 100%; font-size:0; line-height:0; text-indent:-9999px;}

.title-type01 {height:23px; line-height:23px; padding:0 0 0 7px; color:#111; font-family:'notokr-bold'; font-size:11px;}
.title-type02 {height:23px; line-height:23px; color:#fff; font-family:'notokr-demilight'; font-size:8px; background:#111; text-align:center;}

/* text-type */
.text-type01 {margin-bottom:5px; color:#555; font-size:10px; line-height:18px;}

/* btn */
.btn-style01 {display:inline-block; height:36px; line-height:36px; padding:0 10px; color:#333; font-size:12px; border:1px solid #e5e8ec; background:#fff;}
.btn-style02 {display:inline-block; height:37px; line-height:37px; padding:0 16px; color:#fff; font-family:'notokr-medium'; font-size:12px; background:#111;}
.btn-type01 {margin-top:10px; overflow:hidden;}
.btn-type01 a {position:relative; display:block; height:43px; line-height:43px; color:#fff; font-family:'notokr-bold'; font-size:18px; text-align:center;}
.btn-type01 > p {float:left; width:50%;}
.btn-type01 > p a {margin:0 3px; font-size:13px;}
.btn-type01 > p:first-child a {margin-left:0;}
.btn-type01 > p + p a {margin-right:0;}
.btn-type01 .btn-next {background:#212023;}
.btn-type01 .btn-next:after {content:''; display:block; position:absolute; top:14px; right:10px; width:8px; height:14px; background:url("../images/icon/ico_arrow02.png") no-repeat 0 0; background-size:8px 14px;}
.btn-type01 .btn-complete {background:#ff0000;}
.btn-type01 .btn-buy,
.btn-type01 .btn-cancel {background:#212023;}
.btn-type01 .btn-leave {height:41px; line-height:41px; color:#212023; background:#fff; border:1px solid #e5e8ec;}
.btn-type01.type02 > p a {font-size:18px;}

.btn-more {margin-top:10px; text-align:center;}
.btn-more a {display:inline-block; height:43px; line-height:43px; padding:0 55px; color:#fff; font-family:'notokr-bold'; font-size:13px; background:#212023;}
.btn-more02 {margin-top:10px; text-align:center;}
.btn-more02 a {display:block; height:42px; line-height:42px; color:#212023; font-family:'notokr-bold'; font-size:13px; border:1px solid #e5e8ec; background:#fff;}
.btn-more02 a:after {content:''; display:inline-block; width:5px; height:9px; margin:0 0 0 6px; background:url("../images/icon/ico_arrow05.png") no-repeat 0 0; background-size:100% 100%;}

/* board-view */
.board-view {border-top:1px solid #111; background:#fff;}
.board-view table {width:100%; border:1px solid #e5e8ec; border-top:none; text-align:left;}
.board-view table th,
.board-view table td {padding:16px 5px 12px 10px; color:#212023; font-family:'notokr-medium'; font-size:12px; line-height:16px; border-bottom:1px solid #e5e8ec;}
.board-view table th {border-right:1px solid #e5e8ec;}

.board-view01_no{background: #fff; border:2px solid #645dc7; position:relative; margin-top:100px; font-size:14px;}
/* .board-view01_no::before{
  content:'무단 배포 및 복제 금지';
  width:300px; height:50px; 
  background:#645dc7; color:#fff; border-radius: 10px;
  position: absolute; top:-25px; left:50%;
  transform:translateX(-50%);
  font-size: 24px; line-height: 50px; font-weight:700;
  text-indent:0;
  text-align:center;
}
.board-view01_no p{margin:30px; line-height:30px; font-size:16px;} */

/* board-write */
.board-write {border-top:1px solid #212023; background:#fff;}
.board-write table {width:100%; border:1px solid #e5e8ec;}
.board-write table th {padding:16px 0 12px 7px; color:#111; font-family:'notokr-medium'; font-size:12px; line-height:16px; border-top:1px solid #e5e8ec; border-right:1px solid #e5e8ec; text-align:left;}
.board-write table td {padding:5px 0 5px 6px; color:#111; font-family:'notokr-medium'; font-size:12px; line-height:14px; border-top:1px solid #e5e8ec;}
.board-write table tr:first-child th,
.board-write table tr:first-child td {border-top:none;}
.board-write table th em,
.board-write table th span {position:relative; padding-left:9px; font-size:12px;}
.board-write table th em:before {content:'*'; display:block; position:absolute; top:3px; left:0; color:#ff0000;}
.board-write table td * {vertical-align:middle;}
.board-write table td input,
.board-write table td select,
.board-write table td textarea {font-family:'notokr-medium';}
.board-write table td input + a,
.board-write table td input + p,
.board-write table td input + input {margin-left:4px;}
.board-write table td label + input {margin-left:15px;}
.board-write table td div + div {margin-top:4px;}
.board-write table td label {color:#212023; font-family:'notokr-medium'; font-size:12px; line-height:16px;}
.board-write table td .radio-list01 {margin-top:-10px; overflow:hidden;}
.board-write table td .radio-list01 li {float:left; width:50%; margin-top:10px; line-height:16px;}
.board-write table td .radio-list01 li label {color:#212023; font-family:'notokr-medium'; font-size:12px;}
.board-write table td .txt01 {display:inline-block; color:#575757; font-family:'notokr-medium'; font-size:8px;}
.board-write table td .txt-point01 {color:#ff0000; font-family:'notokr-bold'; font-size:15px;}
.board-write table td .txt-point01 span {color:#333; font-family:'notokr-medium'; font-size:12px;}
.board-write table td .file {position:relative; display:inline-block;}
.board-write table td .file input[type=file] {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;}
.board-write table td.text {padding:8px 0 6px 6px;}
.board-write table.type02 th {background:#eff4f0;}
.board-write table.type03 th {padding-left:0; text-align:center;}
.board-write table.type03 thead th {border-bottom:1px solid #e5e8ec; background:#e7eee9;}
.board-write table.type03 td {padding:12px 10px 12px 10px;}
.board-write table.type03 td .input-checkbox,
.board-write table.type03 td .input-checkbox label {display:block;}
.board-write table.type03 td .input-checkbox label {padding:0; line-height:22px; background-position:right 0;}
.board-write table.type03 td .input-checkbox input:checked + label {background-position:right -21px;}

.privAgree {margin-top:20px;}
.privAgree .cont {border:1px solid #ddd; padding:15px; font-size:12px; color:#666;}
.privAgree .inputs {margin-top:10px;}
.privAgree .inputs input {margin-right:5px; vertical-align:middle;}
.privAgree .inputs label {margin-right:15px; vertical-align:middle; font-size:12px; color:#666;}

/* tb-data */
.tb-data01 {border:1px solid #e5e8ec; border-top-color:#000; border-bottom:none; background:#fff;}
.tb-data01 table {width:100%; text-align:center;}
.tb-data01 table th,
.tb-data01 table td {padding:16px 2px 15px 2px; color:#212023; font-size:12px; line-height:16px; border-bottom:1px solid #e5e8ec;}
.tb-data01 table th {font-family:'notokr-medium'; background:#eff4f0;}
.tb-data01 table td.amount {font-family:'notokr-medium';}
.tb-data01 table td.amount span {font-family:'notokr-regular'; font-size:10px;}
.tb-data01 table td.state {padding:0;}
.tb-data01 table td.state p {display:inline-block; width:66px; height:36px; line-height:36px; border:1px solid #e5e8ec;}
.tb-data01 table td.date {padding:0; font-size:10px;}
.tb-data01 table td.subject {padding-left:7px; text-align:left;}
.tb-data01 table td .txt01 {color:#9a9a9a;}
.tb-data01 table tr {cursor:pointer;}
.tb-data01 table tr.cancel td.amount,
.tb-data01 table tr.cancel td.state p {color:#ff0000; border:none; text-decoration:line-through;}
.tb-data01.type02 {border-left:none; border-right:none;}
.tb-data01.type02 table tr {cursor:default;}
.tb-data01.type02 table th,
.tb-data01.type02 table td {border:1px solid #e5e8ec;}
.tb-data01.type02 table td a {color:#212023;}

/* occmembership */
.occmembership {}
.occmembership h3 {text-align:center;}
.occtext-box01 {margin:-20px -15px 40px -15px; padding:17px 15px 20px 15px; border-bottom:1px solid #e5e8ec; background:#fff; text-align:center;}
.occtext-box01 .occ img {width:80px;}
.occtext-box01 .text01 {padding-bottom:20px; border-bottom:1px solid #e5e8ec;}
.occtext-box01 .text01 strong,
.occtext-box01 .text01 span {display:block; color:#212023;}
.occtext-box01 .text01 strong {margin:12px 0 0 0; font-family:'3MCircular-bold'; font-size:20px; line-height:24px;}
.occtext-box01 .text01 span {font-family:'notokr-bold'; font-size:12px; line-height:16px;}
.occtext-box01 .text02 {margin-top:20px; color:#333; font-family:'notokr-demilight'; font-size:12px; line-height:18px; letter-spacing:-1px;}
.occ-list01 {margin-bottom:40px;}
.occ-list01 > li {margin-top:23px; border:1px solid #e5e8ec; background:#fff;}
.occ-list01 > li h4 {padding:10px 0 6px 0; border-bottom:1px solid #e5e8ec; text-align:center;}
.occ-list01 > li h4 span {display:inline-block; width:33px; height:29px; padding-top:4px; color:#fff; font-family:'notokr-medium'; font-size:15px; line-height:12px; background:#ff0000;}
.occ-list01 > li h4 span:first-line {font-family:'notokr-regular'; font-size:10px;}
.occ-list01 > li h4 strong {display:block; padding-top:10px; color:#212023; font-family:'notokr-medium'; font-size:15px; line-height:18px;}
.occ-list01 > li ul {padding:10px 15px 5px;}
.occ-list01 > li li {position:relative; min-height:80px; padding:10px 0 10px 122px; border-top:1px solid #e5e8ec;}
.occ-list01 > li li:first-child {border-top:none;}
.occ-list01 > li li img {position:absolute; top:10px; left:0; height:80px;}
.occ-list01 > li li p {color:#212023; font-size:12px; line-height:18px; letter-spacing:-1px;}
.occ-list01 > li li .tit {font-family:'notokr-bold';}
.occ-list01 > li li .txt {margin-top:10px; font-family:'notokr-demilight';}
.occ-list01 > li li .txt span {display:block; color:#9a9a9a; font-size:10px; line-height:18px;}
.occ-btn01 {padding:10px 13px 0 13px;}
.occ-btn01 ul {}
.occ-btn01 ul:after {content:''; display:block; clear:both;}
.occ-btn01 ul li {float:left; width:50%;}
.occ-btn01 ul li > a {position:relative; display:table; width:94%; height:116px; margin:0 auto; background:#fe0000 url("../images/join/join_main_arrow01.png") no-repeat center 88%; background-size:5px 9px; text-align:center;}
.occ-btn01 ul li > a > span {display:table-cell; color:#fff; font-family:'notokr-bold'; font-size:16px; line-height:20px; vertical-align:middle;}
.occ-btn01 ul li > a > .coment {position:absolute; top:15px; left:0; right:0; color:#fff; font-family:'notokr-medium'; font-size:10px; line-height:14px;}
.occ-btn01 ul li:first-child > a {background-color:#5a5a5a;}
.occ-list01 > li li .btn-info {display:block; padding:5px 0; border-radius:4px; text-align:center; margin-top:10px; color:#fff; background-color:#f00;}

/** 2018.02.20 수정 (덮어씌우기, 원복 시 삭제) */
.occ-list01 > li h4 span {width:18px; height:16px; border-radius:3px; background:#ba9958; margin-right:4px;}
.occ-list01 > li h4 strong {display:inline; padding-top:0;}
.occ-list01 > li li {border-top:0 none; padding:10px 0 10px 120px;}
.occ-list01 > li li img {height:auto; width:112px;}
.occ-list01 > li ul {padding:5px 10px;}
.occ-list01 > li li .tit {padding-left:6px; color:#ba9958;}
.occ-list01 > li li .tit:before {content:''; background:#ba9958; width:2px; height:2px; float:left; margin:8px 0 0 -6px;}
.occ-list01 > li li .txt {margin-top:5px;}
.occ-list01 > li li .btn-info {background:#fff; color:#ba9958; border:1px solid #ba9958;}
.occ-list01 > li li.subtxt {min-height:20px; padding:0 10px; color:#919191;}

.occ-list02 .col{border: 1px solid #c1c1c1;margin-bottom: 30px;}
.occ-list02 .col h4{padding: 12px 0; border-bottom: 1px solid #c1c1c1;text-align: center; font-size:12px;font-weight: 700; }
.occ-list02 .col h4 .num{display: inline-block;width: 15px;height: 15px;border-radius: 3px;background: #91a2c8;text-align: center;line-height: 15px;color: #fff;font-size: 10px;vertical-align: middle;margin-right:
5px;}
.occ-list02 .col .content{padding:25px 15px;box-sizing:border-box;}
.occ-list02 .col .content .img-wrap{display: inline-block;width: 100px;}
.occ-list02 .col .content .img-wrap img{width: 100%; vertical-align: middle;}
.occ-list02 .col .content p{display: inline-block;width: calc(100% - 105px);vertical-align: middle;padding: 15px 0 15px 15px;box-sizing:border-box;font-size:11px;}
.occ-list02 .col .content p .small-phrase{ display: block;margin-top:5px;font-size:10px;}

/* product */
.product-total {}
.product-total > div {margin-top:25px; border-top:1px solid #000;}
.product-total > div:first-child {margin-top:0;}
.product-total > div h4 {height:37px; line-height:37px; color:#212023; font-family:'notokr-medium'; font-size:15px; border-bottom:1px solid #e5e8ec; background:#e7eee9; text-align:center;}
.product-total .list01 {border-bottom:1px solid #e5e8ec; background:#eff4f0;}
.product-total .list01 > li {border-top:1px solid #e5e8ec;}
.product-total .list01 > li:first-child {border-top:none;}
.product-total .list01 > li > a {position:relative; display:block; height:37px; line-height:37px; padding:0 0 0 15px; color:#212023; font-family:'notokr-medium'; font-size:13px;}
.product-total .list01 > li > a:after {content:''; display:block; position:absolute; top:15px; right:17px; width:9px; height:9px; background:url("../images/icon/ico_list01_plus.png") no-repeat 0 0; background-size:9px 9px;}
.product-total .list01 > li ul {display:none; background:#fff;}
.product-total .list01 > li ul li {border-top:1px solid #e5e8ec;}
.product-total .list01 > li ul li a {display:block; height:35px; line-height:35px; padding:0 0 0  15px; color:#212023; font-family:'notokr-medium'; font-size:10px;}
.product-total .list01 > li.active > a:after {background-image:url("../images/icon/ico_list01_minus.png");}
.product-total .list01 > li.active > ul {display:block;}

.pro-list01 {margin:0 -3px; overflow:hidden;}
.pro-list01 li {float:left; width:50%; margin-top:7px;}
.pro-list01 li a {position:relative; display:block; margin:0 3px; padding:8px 0 35px; border:1px solid #e5e8ec; background:#fff; text-align:center;}
.pro-list01 li a .image img {width:100%; max-width:145px;}/*75px*/
.pro-list01 li a .text {position:absolute; bottom:5px; left:0; right:0;}
.pro-list01 li a .text strong,
.pro-list01 li a .text span {display:block; color:#212023; font-family:'3MCircular-book'; line-height:12px;}
.pro-list01 li a .text strong {font-size:12px;}
.pro-list01 li a .text span {height:18px; margin-top:3px; font-size:6px;}

.product-view {margin:0 -15px -30px -15px; background:#fff;}
.product-view h4 {margin-bottom:20px; color:#212023; font-family:'notokr-medium'; font-size:20px; line-height:24px; text-align:center;}
.product-view .pro-image {padding:14px 0 0 0; text-align:center;}
.product-view .pro-image > div {position:relative; margin:0 auto; padding:20px; text-align:center;}
.product-view .pro-image > div img {width:100%; max-width:640px;}
.product-view .pro-btn {padding:0 15px;}
.product-view .pro-coment {margin-top:15px; padding:12px 5px; color:#212023; font-family:'notokr-demilight'; font-size:14px; line-height:21px; border-top:1px solid #e5e8ec; border-bottom:1px solid #e5e8ec; background:#f7f7f7; text-align:center;} 
.product-view .pro-detail {padding:25px 30px 25px 30px; border-bottom:1px solid #e5e8ec;}
.product-view .pro-detail > .con {color:#212023; font-family:'notokr-demilight'; font-size:14px; line-height:21px;}
.product-view .pro-detail > .con img {max-width:100%;}
.product-view .pro-relation {padding:30px 15px 45px 15px; text-align:center;}
.product-view .pro-relation ul {margin:0 -3px; overflow:hidden;}
.product-view .pro-relation ul li {float:left; width:50%;}
.product-view .pro-relation ul li a {position:relative; display:block; margin:0 3px; padding:20px 5px 36px 5px; border:1px solid #e7eaed;}
.product-view .pro-relation ul li a img {width:100%; max-width:75px;}
.product-view .pro-relation ul li a p {position:absolute; bottom:0; left:0; right:0; height:32px; font-family:'3MCircular-book'; font-size:13px; line-height:16px;}
.product-view .pro-relation ul li a p strong {display:block; color:#212023;}
.product-view .pro-relation ul li a p span {display:block; color:#555;}
.product-view .pro-quick {position:absolute; bottom:0; left:0; right:0; background:#464749; box-shadow:-2px -2px 2px 0 #ccc;}
.product-view .pro-quick ul {overflow:hidden; text-align:center;}
.product-view .pro-quick ul li {float:left; width:25%;}
.product-view .pro-quick ul li a {position:relative; display:block; height:43px; line-height:43px; color:#fff; font-family:'notokr-medium'; font-size:14px;}
.product-view .pro-quick ul li a:before {content:''; display:block; position:absolute; top:18px; left:0; width:1px; height:8px; background:#7d7f82;}
.product-view .pro-quick ul li:first-child a:before {display:none;}
.product-view .pro-quick.fix {position:fixed;}

/* event */
.event-list01 > ul > li {margin-top:10px; border-top:1px solid #e5e8ec; border-bottom:1px solid #e5e8ec; background:#fff;}
.event-list01 > ul > li a {position:relative; display:block; padding:15px 15px 10px 15px;}
.event-list01 > ul > li a:after {content:''; position:absolute; top:20px; right:15px; display:block; width:5px; height:9px; background:url("../images/icon/ico_arrow05.png") no-repeat 0 0; background-size:100% 100%;}
.event-list01 > ul > li a .title {padding:0 15px 10px 0;}
.event-list01 > ul > li a .title > p {color:#212023; font-family:'notokr-medium'; font-size:12px; line-height:20px;}
.event-list01 > ul > li a .title > p.date {margin-top:10px;}
.event-list01 > ul > li a .title > p.date span {font-family:'notokr-bold';}
.event-list01 > ul > li a .title > p.date span.ing {color:#165fd8;}
.event-list01 > ul > li a .title > p.date span.end {color:#ff0000;}
.event-list01 > ul > li a .user {display:table; width:100%; padding:5px 0 0 0; border-top:1px solid #e5e8ec;}
.event-list01 > ul > li a .user > p {display:table-cell; color:#212023; font-family:'notokr-medium'; font-size:12px; line-height:37px; vertical-align:middle;}
.event-list01 > ul > li a .user > p.state {font-family:'notokr-bold';}
.event-list01 > ul > li a .user > p.state span {display:inline-block; height:37px; line-height:37px; box-sizing:border-box;}
.event-list01 > ul > li a .user > p.state span.bankbook {padding:0 10px; border:1px solid #e5e8ec;}
.event-list01 > ul > li a .user > p.date {width:31%; padding-right:15px; text-align:right;}
.event-list01 > ul > li a + a {margin:-10px 0 0 0; padding-top:0;}
.event-list01 > ul > li a + a:after {display:none;}

.new-event {position:relative; min-height:115px; margin-bottom:15px; padding:15px 15px 15px 145px; border:1px solid #e5e8ec; background:#fff;}
.new-event .image {position:absolute; top:15px; left:15px;}
.new-event .image img {width:115px; height:115px;}
.new-event .tit {color:#212023; font-family:'notokr-bold'; font-size:12px; line-height:16px;}
.new-event .txt {margin:10px 0 15px 0; color:#212023; font-family:'notokr-demilight'; font-size:12px; line-height:18px; }
.new-event .txt span{display:block; letter-spacing: -1px;}
.new-event .txt .mt10{margin-top:10px;}
.new-event .status-tag{margin-right: 3px;}
.event-list02 li a .date span.status-tag + span:after {content:none;}
.event-list02 li a .date span.status-tag + span {padding-left:0; }
.status-tag{display: inline-block;padding: 3px;width: 43px;text-align: center;}
.status-tag.in-progress{background-color: #ff0000;color:#ffffff;}
.status-tag.end{background-color: #999999;color:#ffffff;}
.new-event .btn a {display:inline-block; width:126px; height:23px; line-height:23px; color:#252525; font-family:'notokr-demilight';  font-size:11px; border:1px solid #e5e8ec; text-align:center;}
.new-event .btn a:after {content:''; display:inline-block; width:5px; height:9px; margin:-2px 0 0 4px; background:url("../images/icon/ico_arrow06.png") no-repeat 0 0; background-size:100% 100%; vertical-align:middle;}
.event-list02 {border-top:1px solid #000; background:#fff;}
.event-list02 li {border-bottom:1px solid #e5e8ec;}
.event-list02 li a {display:block; padding:11px 10px 11px 15px; color:#212023; font-family:'notokr-demilight'; font-size:12px; line-height:16px;}
.event-list02 li a .tit {margin-bottom:5px; font-family:'notokr-bold';}
.event-list02 li a .date span + span {position:relative; margin-left:10px; padding-left:11px; }
.event-list02 li a .date span + span:after {content:''; display:block; position:absolute; top:5px; left:0; width:1px; height:8px; background:#e5e8ec;}

.event-view01 {padding:12px 15px 10px 15px; border:1px solid #e5e8ec; background:#fff;}
.event-view01 .title-date {padding-bottom:13px; color:#212023; font-family:'notokr-demilight'; font-size:12px; line-height:16px; border-bottom:1px solid #e5e8ec;}
.event-view01 .title-date .tit {margin-bottom:5px; font-family:'notokr-bold';}
.event-view01 .title-date .date span + span {position:relative; margin-left:10px; padding-left:11px;}
.event-view01 .title-date .date span + span:after {content:''; display:block; position:absolute; top:5px; left:0; width:1px; height:8px; background:#e5e8ec;}
.event-view01 .con {padding-top:20px; max-width:100%;overflow: hidden;}
.event-view01 .con .image {padding-bottom:20px; border-bottom:1px solid #e5e8ec; text-align:center;}
.event-view01 .con img {width:100%;}
.event-view01 .txt {padding-top:20px; color:#212023; font-family:'notokr-demilight'; font-size:12px; line-height:16px;}
.event-view01 .txt br{clear:both;}
.event-view01 .txt p{text-align: center;}

.view-p{width:40%; height:50px; background-color:#a7a5d1; border-radius:35px; box-shadow: 5px 5px 10px rgba(0,0,0,0.5); text-align: center; margin-left:40%; line-height:60px;
position: absolute; left:10%; transform:translateX(-50%);}
.view-p strong{color:#fff; font-size:14px; line-height:40px;}

/* movie-list */
.movie-list01 {padding:15px 15px 5px; border:1px solid #e5e8ec; background:#fff;}
.movie-list01 li {padding-top:15px; border-top:1px solid #e5e8ec;}
.movie-list01 li:first-child {padding-top:0; border-top:none;}
.movie-list01 li a {display:block;}
.movie-list01 li a .thum {position:relative;}
.movie-list01 li a .thum img {width:100%;}
.movie-list01 li a .thum .play {position:absolute; top:50%; left:50%; width:45px; height:45px; margin:-22px 0 0 -22px; background:url("../images/btn/btn_play01.png") no-repeat 0 0; background-size:100% 100%;}
.movie-list01 li a .thum .txt {position:absolute; bottom:0; left:0; right:0; padding:8px 10px 6px 10px; color:#fff; font-family:'notokr-demilight'; font-size:11px; line-height:14px; background:rgba(0,0,0,0.45); text-align:center;}
.movie-list01 li a .thum .text span {font-family:'notokr-bold';}
.movie-list01 li a .text {padding:10px 0 10px 0; color:#212023; font-family:'notokr-demilight'; font-size:12px; line-height:16px;}
.movie-list01 li a .text strong {display:block; margin-bottom:5px; font-family:'notokr-bold';}

/* agent-box */
.agent-box {}
.agent-box .agent-search {margin-bottom:25px;}
.agent-box .agent-search .text01 {margin-bottom:10px; color:#212023; font-family:'notokr-demilight'; font-size:11px; line-height:16px; text-align:center;}
.agent-box .agent-search .search {position:relative; padding-right:90px;}
.agent-box .agent-search .search input {width:100%; height:37px; line-height:35px;}
.agent-box .agent-search .search .btn {position:absolute; top:0; right:0; display:block; width:85px; height:37px; line-height:37px; color:#fff; font-family:'notokr-bold'; font-size:13px; background:#212023; text-align:center;}
.agent-box .agent-list {padding:11px 13px 15px 13px; border-top:1px solid #000; background:#fff; overflow:hidden;}
.agent-box .agent-list li {float:left; width:25%; margin-top:4px;}
.agent-box .agent-list li a {display:block; height:37px; line-height:37px; margin:0 2px; color:#fff; font-family:'notokr-bold'; font-size:12px; background:#959595; text-align:center;}
.agent-box .agent-list li a:active,
.agent-box .agent-list li a:focus {background:#302f32;}

/* pointmall-box */
.pointmall-box01 {}
.pointmall-box01 .title-area {position:relative; margin-bottom:10px; border-top:1px solid #212023; border-bottom:1px solid #e5e8ec; background:#fff;}
.pointmall-box01 .title-area .tit {height:41px; line-height:41px; color:#555; font-family:'notokr-medium'; font-size:15px; text-align:center;}
.pointmall-box01 .title-area .input-checkbox {position:absolute; top:10px; left:15px;}
.pointmall-box01 .list-box {padding:0 15px 0 15px; border:1px solid #e5e8ec; background:#fff;}
.pointmall-box01 .list-box li {position:relative; padding:15px 0 5px 30px; border-top:1px solid #e5e8ec; overflow:hidden;}
.pointmall-box01 .list-box li:first-child {border-top:none;}
.pointmall-box01 .list-box li .input-checkbox {position:absolute; top:15px; left:0;}
.pointmall-box01 .list-box li .image {float:left; width:33.48214285714%; margin-top:-8px; text-align:center;}
.pointmall-box01 .list-box li .image img {width:100%; max-width:75px;}
.pointmall-box01 .list-box li .text {float:left; width:59.59821428571%; margin-left:5%; padding-bottom:10px;}
.pointmall-box01 .list-box li .text .tit {color:#212023; font-family:'notokr-medium'; font-size:12px; line-height:17px;}
.pointmall-box01 .list-box li .text .point {margin-top:8px; color:#49484a; font-family:'3MCircular-bold'; font-size:14px; line-height:18px;}
.pointmall-box01 .list-box li .text .point span {color:#212023; font-family:'3MCircular-book'; font-size:12px;}
.pointmall-box01 .list-box li .arrow-toggle {position:absolute; bottom:5px; right:0; display:block; padding:5px; font-size:0; line-height:0;}
.pointmall-box01 .list-box li .arrow-toggle > span {display:block; width:9px; height:5px; background:url("../images/icon/ico_arrow04_off.png") no-repeat 0 0; background-size:9px 5px;}
.pointmall-box01 .list-box li .arrow-toggle.active {bottom:56px;}
.pointmall-box01 .list-box li .arrow-toggle.active > span {background-image:url("../images/icon/ico_arrow01_on.png");}
.pointmall-box01 .list-box li .num-point {display:none; position:relative; clear:both; height:21px; margin-left:-30px; padding:15px; background:#f1f1f1;}
.pointmall-box01 .list-box li .num-point .num {display:inline-block; border:1px solid #e5e8ec; overflow:hidden;}
.pointmall-box01 .list-box li .num-point .num a,
.pointmall-box01 .list-box li .num-point .num input[type=text] {float:left;}
.pointmall-box01 .list-box li .num-point .num a img {width:19px;}
.pointmall-box01 .list-box li .num-point .num input[type=text] {width:33px; height:19px; line-height:19px; padding:0; border:none; border-left:1px solid #e5e8ec; border-right:1px solid #e5e8ec; background:#fff; box-sizing:border-box; text-align:center;}
.pointmall-box01 .list-box li .num-point .point {position:absolute; top:17px; right:15px; color:#49484a; font-family:'3MCircular-bold'; font-size:14px; line-height:18px;}
.pointmall-box01 .list-box li .num-point .point span {color:#212023; font-family:'3MCircular-book'; font-size:12px;}
.pointmall-box01 .list-box.buy {border-top:1px solid #212023;}
.pointmall-box01 .list-box.buy li {padding-left:0;}
.pointmall-box01 .list-box.buy li .image {width:40%;}
.pointmall-box01 .list-box.buy li .text {width:50%;}
.pointmall-box01 .list-box.buy .num-point {display:block; margin-left:0;}
.pointmall-box01 .point-text {margin-top:10px; border:1px solid #ff0000; background:#fff;}
.pointmall-box01 .point-text > ul {padding:10px 15px 10px 15px;}
.pointmall-box01 .point-text > ul li {display:table; width:100%; margin:10px 0;}
.pointmall-box01 .point-text > ul li > p {display:table-cell; width:50%; color:#212023; line-height:22px; vertical-align:middle;}
.pointmall-box01 .point-text > ul li > .tit {font-size:12px;}
.pointmall-box01 .point-text > ul li > .point {font-family:'3MCircular-bold'; font-size:12px; text-align:right;}
.pointmall-box01 .point-text > ul li > .point span {font-family:'3MCircular-book'; font-size:10px;}
.pointmall-box01 .point-text > ul li > .point.minus {color:#ff0000;}
.pointmall-box01 .point-text > ul li.total > .tit {font-family:'notokr-bold';}
.pointmall-box01 .point-text > ul li.total > .point {color:#ff0000; font-size:15px;}
.pointmall-box01 .point-text > ul li.total > .point span {font-size:12px;}

/* login */
.login-box-in > div {margin-top:7px;}
.login-box-in input[type=text],
.login-box-in input[type=password] {padding:0 15px;}
.login-box-in .check {margin-top:11px;}
.login-box .utill {margin-top:18px; overflow:hidden;}
.login-box .utill li {position:relative; float:left; width:33.3%;}
.login-box .utill li:before {content:''; display:block; position:absolute; top:3px; left:0; width:1px; height:10px; background:#e5e8ec;}
.login-box .utill li a {display:block; height:16px; line-height:16px; color:#555; font-family:'notokr-medium'; font-size:12px; text-align:center;}
.login-box .utill li:first-child {width:33.4%;}
.login-box .utill li:first-child:before {display:none;}

/* mypage */
.mypage-user {padding:15px 5px 15px 5px; border:1px solid #e5e8ec; background:#fff; text-align:center;}
.mypage-user .user {color:#212023; font-family:'notokr-demilight'; font-size:14px; line-height:25px;}
.mypage-user .user strong {font-family:'notokr-bold';}
.mypage-user .user span {font-family:'3MCircular-book';}
.mypage-user .point {display:inline-block; margin-top:10px; color:#ff0000; font-family:'3MCircular-book'; font-size:22px; line-height:22px; border-bottom:1px solid #ff0000;}
.mypage-user .point span {display:inline-block; width:15px; height:15px; line-height:18px; margin-top:-2px; color:#fff; font-size:12px; border-radius:50%; background:#ff0000; vertical-align:middle;}
.mypage-main .list {margin-top:10px; border-top:1px solid #000; background:#fff;}
.mypage-main .list li {border-bottom:1px solid #e5e8ec;}
.mypage-main .list li a {position:relative; display:block; height:48px; line-height:48px; padding:0 0 0 15px; color:#212023; font-family:'notokr-medium'; font-size:12px;}
.mypage-main .list li a:after {content:''; display:block; position:absolute; top:20px; right:15px; width:5px; height:9px; background:url("../images/icon/ico_arrow05.png") no-repeat 0 0; background-size:100% 100%;}

.mypage-point .list > li {margin-top:10px; border-top:1px solid #e5e8ec; border-bottom:1px solid #e5e8ec; background:#fff;}
.mypage-point .list > li a {position:relative; display:block; padding:15px 15px 10px 15px;}
.mypage-point .list > li a:after {content:''; position:absolute; top:20px; right:15px; display:block; width:5px; height:9px; background:url("../images/icon/ico_arrow05.png") no-repeat 0 0; background-size:100% 100%;}
.mypage-point .list > li a ul {padding:0 15px 10px 0;}
.mypage-point .list > li a li {display:table; width:100%;}
.mypage-point .list > li a li > p {display:table-cell; color:#212023; font-family:'notokr-medium'; font-size:12px; line-height:16px; vertical-align:middle;}
.mypage-point .list > li a li > p.ea {width:14%; text-align:right;}
.mypage-point .list > li a div {display:table; width:100%; padding:10px 0 0 0; border-top:1px solid #e5e8ec;}
.mypage-point .list > li a div > p {display:table-cell; color:#212023; font-size:12px; line-height:16px; vertical-align:middle;}
.mypage-point .list > li a div > p.amount {font-family:'notokr-bold';}
.mypage-point .list > li a div > p.amount span {display:block; margin-bottom:2px; font-family:'notokr-medium';}
.mypage-point .list > li a div > p.amount span.minus {color:#ff0000;}
.mypage-point .list > li a div > p.date {width:31%; padding-right:15px; text-align:right;}
.mypage-point .list > li.no-view a:after {display:none;}

/* join _ 회원가입 */
/* join_ main */
.join-main {margin:-20px -15px -30px -15px; background:#fff;}
.join-main .image01 {text-align:center;}
.join-main .image01 img {width:100%; max-width:640px;}
.join-main .text-coment01 {color:#555; font-family:'notokr-medium'; font-size:14px; line-height:17px; text-align:center;}
.join-main .btn {padding:14px 13px 25px 13px;}
.join-main .btn ul {}
.join-main .btn ul:after {content:''; display:block; clear:both;}
.join-main .btn ul li {float:left; width:50%;}
.join-main .btn ul li > a {position:relative; display:table; width:94%; height:116px; margin:0 auto; background:#fe0000 url("../images/join/join_main_arrow01.png") no-repeat center 88%; background-size:5px 9px; text-align:center;}
.join-main .btn ul li > a > span {display:table-cell; color:#fff; font-family:'notokr-bold'; font-size:16px; line-height:20px; vertical-align:middle;}
.join-main .btn ul li > a > .coment {position:absolute; top:15px; left:0; right:0; color:#fff; font-family:'notokr-medium'; font-size:10px; line-height:14px;}
.join-main .btn ul li:first-child > a {background-color:#5a5a5a;}
.join-main .link {display:block; height:107px; padding:0 0 0 15px;; background:#e6ebe7 url("../images/join/join_main_bg01.jpg") no-repeat right center; background-size:cover;}
.join-main .link > p {color:#272727;}
.join-main .link > .text01 {padding-top:23px; font-size:12px; line-height:16px;}
.join-main .link > .text02 {margin:3px 0 10px 0; font-family:'3MCircular-bold'; font-size:20px; line-height:24px;}
.join-main .link > .text03 {display:inline-block; padding-right:12px; color:#929493; font-family:'notokr-medium'; font-size:10px; line-height:14px; background:url("../images/join/join_main_arrow02.png") no-repeat right center; background-size:5px 9px;}

/* 약관동의 */
.join-agreebox {border-top:1px solid #212023; border-bottom:1px solid #e5e8ec; background:#fff;}
.join-agreebox .text-area {padding:10px 0 10px 8px;}
.join-agreebox .text-area label {color:#212023; font-family:'notokr-bold';}
.join-agreebox li {position:relative; min-height:35px; padding:13px 0 0 8px; border-top:1px solid #e5e8ec;}
.join-agreebox li > a {position:absolute; top:5px; right:8px;}

.join-pricebox01 {position:relative; padding:15px 6px 15px 6px; border:1px solid #ff0000; background:#fff; text-align:right;}
.join-pricebox01 .tit {position:absolute; top:50%; left:6px; height:16px; line-height:16px; margin-top:-8px; color:#000; font-family:'notokr-medium'; font-size:12px;}
.join-pricebox01 .txt {color:#000; font-family:'notokr-medium'; font-size:12px; line-height:16px;}
.join-pricebox01 .txt strong {color:#ff0000; font-family:'3MCircular-bold'; font-size:18px;}
.join-pricebox01 .txt span {display:block; margin-top:2px; color:#a6a6a6; font-family:'notokr-medium'; font-size:9px;}

/* layer */
.layer-pop {position:fixed; top:50%; left:15px; right:15px; padding:15px; background:#fff; z-index:21; display:none;}
.layer-pop .title01 {margin-bottom:5px; color:#212023; font-family:'notokr-bold'; font-size:18px; line-height:24px;}
.layer-pop .text01 {padding:20px 0; color:#212023; font-size:14px; line-height:22px; text-align:center;}
.layer-pop .text01 strong {font-family:'notokr-bold';}
.layer-pop .text02 {padding:10px 0; border:1px solid #e5e8ec; background:#f7f7f7; text-align:center;}
.layer-pop .text02 p {display:inline-block; color:#212023; font-size:14px; line-height:22px; text-align:left;}
.layer-pop .text03 {margin:-15px 0 20px 0; text-align:center;;}
.layer-pop .text03 span {color:#ff0000; font-family:'notokr-bold'; font-size:14px; line-height:22px; text-decoration:underline;}
.layer-pop .in-write01 {text-align:center;}
.layer-pop .in-write01 input {width:76%; margin:0 auto; border:none; border-bottom:1px solid #212023; text-align:center;}
.layer-pop .agree-box {height:200px; padding:5px; color:#212023; font-size:14px; line-height:22px; border:1px solid #e5e8ec; overflow-x:hidden; overflow-y:auto;}
.layer-pop .agree-box .tit01 {margin:10px 0 5px 0; font-family:'notokr-bold'; font-size:14px;}
.layer-pop .layer-btn01 {margin-top:10px;}
.layer-pop .layer-btn01 {margin-top:10px; overflow:hidden;}
.layer-pop .layer-btn01 a {display:block; height:39px; line-height:39px; color:#212023; font-family:'notokr-bold'; font-size:15px; border:1px solid #e5e8ec; text-align:center;}
.layer-pop .layer-btn01 > p {float:left; width:50%;}
.layer-pop .layer-btn01 > p a {margin:0 3px; letter-spacing:-1px;}
.layer-pop .layer-btn01 > p:first-child a {margin-left:0;}
.layer-pop .layer-btn01 > p + p a {margin-right:0;}
.layer-pop .layer-btn01 .btn-link {color:#fff; background:#212023; border-color:#212023;}
.layer-pop .layer-btn01 .btn-complete {color:#fff; background:#ff0000; border-color:#ff0000;}
.layer-pop .btn-close {position:absolute; top:15px; right:15px; display:block; width:13px; height:13px; background:url("../images/btn/btn_layer_close.png") no-repeat 0 0; background-size:13px 13px; font-size:0; line-height:0; letter-spacing:-9999px;}

.event-open-wrap {margin:0 -15px;}
.event-open-wrap .head img {width:100%;}
.event-open-wrap .section-recmd img {width:100%;}
.event-open-wrap .section-inf img {width:100%;}
.hide-text {position:absolute; top:-9999em;}

.quiz-start {position:relative;}
.quiz-start img {width:100%;}
.quiz-start .btn_quiz_start {position:absolute; top:62.6153%; left:17%; display:block; width:66%;}

.quiz-complete {position:relative;}
.quiz-complete img {width:100%;}
.quiz-complete .reward {position:absolute; top:0; left:10%; width:80%; padding-top:46.4615%; font-size:105%; text-align:center; color:#666;}
.quiz-complete .reward .col1 {color:#000;}
.quiz-complete .reward .col2 {color:#da0000;}
.quiz-complete .btn_quiz_end {position:absolute; top:75.3846%; left:16.5625%; width:65.625%;}

.quiz-quest {position:relative;}
.quiz-quest img {width:100%;}
.quiz-quest .now {position:absolute; top:2%; left:39.0625%; width:21.875%; font-size:17px; text-align:center; color:#fff;}
.quiz-quest .q {position:absolute; top:26.7692%; left:5%; width:90%; font-size:17px; text-align:center;}
.quiz-quest .q:before {content:'Q.'; font-size:24px; color:#da0000; font-family:'notokr-bold'; font-weight:800; margin-right:5px;}
.quiz-quest .btns {position:absolute; top:59.2307%; left:0; width:100%; text-align:center;}
.quiz-quest .btns a {display:inline-block; width:29.6487%;}
.quiz-quest .btn_q_close {position:absolute; top:0; right:0; width:10.9375%;}

.quiz-result {position:relative;}
.quiz-result img {width:100%;}
.quiz-result .now {position:absolute; top:2%; left:39.0625%; width:21.875%; font-size:17px; text-align:center; color:#fff;}
.quiz-result .q {position:absolute; top:20%; left:5%; width:90%; font-size:15px; text-align:center;}
.quiz-result .q:before {content:'Q.'; font-size:24px; color:#da0000; font-family:'notokr-bold'; font-weight:800; margin-right:5px;}
.quiz-result .btn_q_close {position:absolute; top:0; right:0; width:10.9375%;}
.quiz-result .answer {position:absolute; top:41.3846%; width:75%; padding:5% 5% 5% 12%; margin:0 5% 9.6923%; background-color:#f9f9f9; font-size:14px;}
.quiz-result .answer:before {content:'A.'; font-size:20px; color:#1e5dab; font-family:'notokr-bold'; font-weight:800; margin-left:-9%; float:left;}
.quiz-result .right {color:#1e5dab; font-weight:400;}
.quiz-result .wrong {color:#da0000; font-weight:400;}
.quiz-result .btn_next {position:absolute; top:75.3846%; left:16.5625%; width:65.625%;}

.quiz-aleady {position:relative;}
.quiz-aleady img {width:100%;}
.quiz-aleady .btn_quiz_end {position:absolute; top:75.3846%; left:16.5625%; width:65.625%;}

.section-inf {position:relative;}
.section-inf .btn-info {position:absolute; top:9%; left:5%; width:90%;}


.section-cmt {padding:20px 15px;}
.section-cmt .tit {margin-bottom:20px; font-size:20px; font-weight:500; color:#000;}
.section-cmt .tit span {color:#da0000;}
.section-cmt form {margin:0 0 25px;}
.section-cmt form [type=text] {margin:0 0 10px; height:45px; line-height:45px; font-size:15px;}
.section-cmt form .input-submit {width:100%; border:0 none; height:45px; font-size:15px; background:#333; color:#fff;}
.section-cmt .count {margin:0 0 5px;}
.section-cmt .cmtlist {margin:0 0 25px;}
.section-cmt .cmtlist li {padding:12px 14px; border:1px solid #d5d5d5; border-bottom:0 none; font-family:'notokr-medium';}
.section-cmt .cmtlist li:last-child {border-bottom:1px solid #d5d5d5;}
.section-cmt .row1 {margin-bottom:10px;}
.section-cmt .name {font-size:12px; color:#000;}
.section-cmt .name:after {content:''; display:inline-block; width:1px; height:11px; background:#d5d5d5; margin:0 5px 0 9px;}
.section-cmt .date {color:#666; font-size:12px;}
.section-cmt .col1 {display:inline-block; color:#da0000; font-size:12px; margin-right:10px;}
.section-cmt .col2 {display:inline-block; color:#666; font-size:12px; margin-right:80px;}
.section-cmt .paging {text-align:center;}
.section-cmt .paging ul {display:inline-block; vertical-align:middle;}
.section-cmt .paging li {display:inline-block;}

.modal-wrap {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.6); z-index:1000;}
.modal-wrap.show {display:block;}
.modal-wrap .modal-inner {position:absolute; top:88px; bottom:88px; left:15px; right:15px;}
.modal-wrap .modal-head {position:relative; height:35px; background-color:#333; color:#fff; font-size:15px; line-height:35px; text-indent:10px; font-family:'notokr-medium';}
.modal-wrap .modal-body {overflow:auto; height:calc(100% - 35px);}
.modal-wrap .modal-body img {width:100%;}
.modal-wrap .modal-close {position:absolute; top:0; right:0; width:35px; text-indent:0;}
.modal-wrap .modal-close img {width:100%;}

.modal-wrap.welcome-modal .modal-inner{width:calc(100% - 20px); max-width: 350px; left: 50%;right:auto;transform: translateX(-50%);}
.modal-wrap.welcome-modal .modal-body{ height: auto;}
.modal-wrap.welcome-modal .modal-footer{display:flex;}
.modal-wrap.welcome-modal .modal-footer a.btn{flex:1 1 auto; display: inline-block;text-align: center;}
.modal-wrap.welcome-modal .modal-footer a.btn img{width: 100%}











/* [S]210204: 메일 모달창 */
.modal-layer.pi-updated{
  position:fixed; 
  top:0; left:0; right:0; bottom:0; 
  width:100%; height:100%; 
  background:rgba(0, 0, 0, 0); 
  font-family: 'notokr-demilight';
  z-index:1000;
  display:none;
}
.modal-layer.pi-updated.open{
  display:block;
}
.modal-layer.pi-updated .modal-inner{
  width:320px;
  background:#fff;
  border-radius: 7px;
  
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  z-index: 10;
}
.modal-layer.pi-updated .modal-inner{width:300px;}
.modal-layer.pi-updated .modal-inner .modal-tit{padding: 20px 30px 0 20px;}
.modal-layer.pi-updated .modal-inner .modal-tit img{width:45%;}
.modal-layer.pi-updated .modal-inner .modal-body{margin:35px 15px; height: calc(100% - 221px );}
.modal-layer.pi-updated .modal-inner .modal-body .mbody-tit p{font-size:14px; line-height:26px;}
.modal-layer.pi-updated .modal-inner .modal-body .mbody-tit p i{color:#212023;}
.modal-layer.pi-updated .modal-inner .modal-footer{}
.modal-layer.pi-updated .modal-inner .modal-footer .btn{width:50%; height: 50px; line-height:50px;background:#f92610;}
.modal-layer.pi-updated .modal-inner .modal-footer .btn.none-again{border-radius: 0 0 0 7px;}
.modal-layer.pi-updated .modal-inner .modal-footer .btn.btn-close{border-radius: 0 0 7px 0; border-left:1px solid rgba(255,225,255,0.5); box-sizing: border-box;}
.modal-layer.pi-updated .modal-inner .modal-footer .btn a{display:block; color:#fff;}
.modal-layer.pi-updated .modal-inner .modal-footer .btn a:hover{font-weight:bold;}
.modal-layer.pi-updated .layer-dim{
  width: 100%; 
  height: 100%; 
  background: #000; 
  opacity: .2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}






/* [S]210204: 개인정보처리방침 탭메뉴 */
.privacy-policy{padding: 30px 20px;}
.privacy-policy .go-top-btn{width:50px; display:scroll; position:fixed; bottom:10px;right:10px;}
.privacy-policy .go-top-btn img{width:100%;}

.privacy-policy p{font-size:16px; line-height:30px; font-family: 'notokr-demilight'; margin-top:10px; color:#666;}
.privacy-policy p.mt0{margin-top:0px;}
.privacy-policy p.mt30{margin-top:30px;}
.privacy-policy p strong{display:inline-block; font-family: 'notokr-medium';}
.privacy-policy strong{display:block;; color:#1e1e1e;}
.privacy-policy strong.main-tit{font-size:30px; line-height: 50px}
.privacy-policy strong.tit{font-size:18px; line-height: 30px; font-weight:bold; margin-top:30px;}
.privacy-policy p a{color:#0033cc;}
.privacy-policy p a:hover{text-decoration: underline;}

.tab-cont-box{display:none;}
.tab-cont-box.item-active{display:block;}
    .tab-btn{overflow: hidden;}
    .tab-btn li{text-align: center; width:100%; line-height:50px;}
    .tab-btn li:first-child{}
    .tab-btn li a{display:block; border:1px solid #ddd; box-sizing: border-box; font-size:14px;}
    .tab-btn li a.active{font-weight:bold; border:1px solid #212023; background:#212023; color:#ddd;} 

    .tab-cont-box{}
    .tab-cont-box table{margin-top:20px;}
    .tab-cont-box table tr{}
    .tab-cont-box table.center tr td:first-child{text-align: center;}
    .tab-cont-box table.center.center tr td{text-align: center;}
    .tab-cont-box table tr td{border: 1px solid #e6e6e6; padding:5px 10px; font-size:14px;font-family: 'notokr-demilight';}
    .tab-cont-box table tr.bold td{border-top: 2px solid #212023; text-align: center; background:#fbfbfb;font-family: 'notokr-regular';}
    .tab-cont-box table tr td:first-child{border-left:none;}
    .tab-cont-box table tr td:last-child{border-right:none;}





/* [S]210204: 유료회원중단 모달창 */
.modal-layer.refuse-join{
  position:fixed; 
  top:0; left:0; right:0; bottom:0; 
  width:100%; height:100%; 
  background:rgba(0, 0, 0, 0); 
  font-family: 'notokr-demilight';
  z-index:1000;
  display:none;
}
.modal-layer.refuse-join.open{
  display:block;
}
.modal-layer.refuse-join .modal-inner{
  width:320px;
  background:#fff;
  border-radius: 7px;
  
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  z-index: 10;
}
.modal-layer.refuse-join .modal-inner{width:300px;}
.modal-layer.refuse-join .modal-inner .modal-tit{padding: 20px 30px 0 20px;}
.modal-layer.refuse-join .modal-inner .modal-tit img{width:45%;}

.modal-layer.refuse-join .modal-inner .modal-body{margin:35px 15px;}
.modal-layer.refuse-join .modal-inner .modal-body .mbody-tit p{font-size:14px; line-height:26px;}
.modal-layer.refuse-join .modal-inner .modal-body .mbody-tit p.img{width:70px; margin:0 auto;}
.modal-layer.refuse-join .modal-inner .modal-body .mbody-tit p.img img{width:100%;}
.modal-layer.refuse-join .modal-inner .modal-footer{}
.modal-layer.refuse-join .modal-inner .modal-footer .btn{width:100%; height: 50px; line-height:50px; border-radius: 0 0 7px 7px; background:#f92610;}
.modal-layer.refuse-join .modal-inner .modal-footer .btn a{display:block; color:#fff;}
.modal-layer.refuse-join .modal-inner .modal-footer .btn a:hover{font-weight:bold;}
.modal-layer.refuse-join .layer-dim{
  width: 100%; 
  height: 100%; 
  background: #000; 
  opacity: .2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}



















.movie-header h3 span{ 
  padding-right: 0;
}
.movie-header h3 a.link-to:before{
  left:unset;
  right:-15px;
}
.replay-title{
  padding:15px;
  min-height:90px;
}
.replay-title.none-margin{
  margin-bottom:0;
}
.replay-title .tit{
  font-size:14px;
}
.replay-title .sub-tit{
  font-size:12px;
}

.replay-info{
  background-color: #ffffff;
  padding:15px;
}
.replay-info .replay-moive{
  display:flex;
  width:100%;
  height:200px;
  margin-bottom:15px;
}
.replay-info .replay-moive iframe{
  width:100%;
  height:100%;
}
.three-line-ellipsis{
  overflow: hidden;
  word-wrap:break-word;
  display: -webkit-box !important;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -ms-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis
}

video{
  width: 100%;
}

.flex-wrap{
  display: flex;
  text-align: center;
}
.flex-wrap li{
  position: relative;
  flex:1 1 auto;
}
.flex-wrap li:after{
  content: '';
  position: absolute;
  top:17px;
  left:0;
  width: 8px;
  height: 15px;
  border-left: 1px solid black;
}
.flex-wrap li:first-child:after{
  display: none;
}
.flex-wrap li a{
  color: #b6b6b6;
  padding: 0;
}
.flex-wrap li a:before{
  display: none;
}
.flex-wrap li.on a{
  color: #000000;
}

@media screen and (min-width: 320px){
  .flex-wrap li a{
    font-size:13px;
  }
}
.flex-wrap.dept2 li{
  flex:0 0 auto;
  -webkit-box-flex: 0;
  -ms-flex:0 0 auto;
  padding: 0 20px
}
.flex-wrap.dept2 li:last-child{
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  text-align: left;
  padding-inline: 18px;
}

