@charset "utf-8";

/* wrap */
#wrap {
  word-break:keep-all;
  min-width:320px;
}

html.modal,
body.modal {
    position:fixed; top:0; left:0;
    width:100%;
    height:100%;
	overflow:hidden;
}
.dim {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:20;}

/* footer */
header {
	position:fixed; top:0; left:0;
	width:100%;
    z-index:19;
}
header .top-utill {position:relative; height:35px; background:#212023;}
header .top-utill .btn-login {position:absolute; top:5px; left:15px; display:inline-block; height:24px; line-height:24px; padding:0 15px; color:#818181; font-size:10px; background:#302f32; text-align:center;}
header .top-utill > ul {padding:12px 15px 0 0; font-size:0; line-height:0; text-align:right;}
header .top-utill > ul > li {position:relative; display:inline-block; margin-left:10px; padding-left:11px;}
header .top-utill > ul > li:before {content:''; display:block; position:absolute; top:4px; left:0; width:1px; height:8px; background:#49484a;}
header .top-utill > ul > li > a {display:block; color:#818181; font-size:10px; line-height:14px;}
header .top-utill > ul > li:first-child {margin-left:0; padding-left:0;}
header .top-utill > ul > li:first-child:before {display:none;}
header .top-head {position:relative; height:52px; border-bottom:1px solid #ff0000; background:#fff;}
header .top-head .logo {padding-top:12px; text-align:center;}
header .top-head .logo img {height:27px;}
header .top-head .menu {position:absolute; top:0; left:0; display:block; width:47px; height:52px; font-size:0; line-height:0; text-indent:-9999px; background:url("../images/common/top_menu.png") no-repeat center 19px; background-size:17px 14px;}
header .top-head .top-search {position:absolute; top:0; left:0; right:0; height:32px; padding:10px 10px 0 37px; background:#fff;}
header .top-head .top-search .back {position:absolute; top:19px; left:14px; display:block; width:8px; height:14px; background:url("../images/common/top_search_arrow01.png") no-repeat center center; background-size:8px 14px; text-indent:-9999px;}
header .top-head .top-search .btn {position:absolute; top:14px; right:14px; display:block; width:24px; height:24px; background:url("../images/common/top_search_btn.png") no-repeat center center; background-size:18px 18px; text-indent:-9999px;}
header .top-head .top-search input[type=text] {width:100%; height:32px; line-height:32px; padding:0 20px 0 5px; border:1px solid #e5e8ec; background:#fff; box-sizing:border-box;}
header .top-head .top-search.hide {height:0; padding:0; background:none;}
header .top-head .top-search.hide .back,
header .top-head .top-search.hide input[type=text] {display:none;}

header .gnb-menu {position:fixed; top:35px; bottom:0; left:-236px; width:236px; background:#2a292c; overflow-y:hidden; z-index:25;}
header .gnb-menu > div {height:100%; overflow-y:auto;}
header .gnb-menu h2 {height:40px; line-height:40px; padding:0 0 0 15px; color:#fff; font-family:'notokr-medium'; font-size:15px; background:#212023;}
header .gnb-menu h3 {height:38px; line-height:38px; padding:10px 0 0 15px; color:#fff; font-family:'notokr-medium'; font-size:14px;}
header .gnb-menu .close {position:absolute; top:4px; left:197px;}
header .gnb-menu .close a {display:block; padding:10px;}
header .gnb-menu .close img {width:14px;}
header .gnb-menu .btn-pointmall {padding:15px 15px 5px 15px;}
header .gnb-menu .btn-pointmall a {display:block; height:47px; line-height:47px; color:#fff; font-family:'notokr-medium'; font-size:12px; background:#ff0000; text-align:center;}
header .gnb-menu .link {border-top:1px solid #3c3c3c;}
header .gnb-menu .link > li {float:left; width:50%; border-bottom:1px solid #3c3c3c;}
header .gnb-menu .link > li a {position:relative; display:block; height:30px; line-height:30px; padding:0 0 0 15px; color:#d6d6d6; font-family:'notokr-demilight'; font-size:11px; background:url("../images/common/gnb_arrow01.png") no-repeat 90% center; background-size:5px 9px;}
header .gnb-menu .link > li:nth-child(even) a {border-left:1px solid #3c3c3c;}

header #gnb {}
header #gnb ul li a {display:block; height:30px; line-height:30px; font-family:'notokr-demilight';}
header #gnb > ul {border-top:1px solid #3c3c3c;}
header #gnb > ul > li {border-bottom:1px solid #3c3c3c;}
header #gnb > ul > li > a {position:relative; padding-left:15px; color:#d4d4d4; font-size:11px;}
header #gnb > ul > li > a:before,
header #gnb > ul > li > a:after {content:''; position:absolute; top:14px; right:15px; display:block; width:9px; height:2px; background:#a7a7a8; border-radius:2px; transition:all .3s ease;}
header #gnb > ul > li.active > a:after {transform:rotate(90deg); transition:all .3s ease;}
header #gnb > ul > li ul {display:none; border-top:1px solid #3c3c3c;}
header #gnb > ul > li ul li a {padding-left:15px; color:#d6d6d6; font-size:10px; background:#302f32;}

/* dBody */
#dBody {
    position:relative;
	padding-top:88px;
    background:#f7f7f7;
}

/* contents */
#contents {
    padding:20px 15px 30px 15px;
}

/* quickTop */
#quickTop {
    position:fixed; right:15px; bottom:15px;
    width:32px;
    height:32px;
    border:1px solid #d6d6d6;
    background:#fafafa;
    box-shadow:0 1px 1px 0 #cdcdcd;
    opacity:0.9;
    z-index:10;
}
#quickTop > a {display:block; height:14px; padding-top:18px; color:#464749; font-family:'3MCircular-bold'; font-size:10px; line-height:12px; background:url("../images/common/quick_top_arrow.png") no-repeat center 5px; background-size:9px 5px; text-align:center;}

/* footer */
footer {
	padding:13px 13px 15px 13px;
    background:#fff;
}
footer .foot-utill {overflow:hidden;}
footer .foot-utill li {position:relative; float:left; margin-left:10px; padding-left:11px;}
footer .foot-utill li:before {content:''; display:block; position:absolute; top:3px; left:0; width:1px; height:8px; background:#e5e8ec;}
footer .foot-utill li a {display:block; color:#333; font-family:'notokr-medium'; font-size:10px; line-height:14px;}
footer .foot-utill li a strong {color:#333;}
footer .foot-utill li:first-child {margin-left:0; padding-left:0;}
footer .foot-utill li:first-child:before {display:none;}
footer .foot-text01 {margin:11px 0 11px 0; color:#777; font-family:'notokr-demilight'; font-size:10px; line-height:16px;}
footer .foot-text01 span {display:block;}
footer .foot-text01 span strong {color:#333;}
footer address,
footer .copy {display:block; color:#777; font-family:'notokr-demilight'; font-size:10px; line-height:16px;}
